.popup{
  text-align: center;
  border: 1px solid red;
  margin:0px 376px;
  padding: 32px;
  z-index: 10;
  position: fixed;
  background-color: white;
}
.Backdrop{
  background-color:white;
  position:fixed;
  z-index: 1;
  width:100%;
  height: 291px;
  top: 0;
  bottom:0  
}
button.btn{
  cursor:pointer;
}
.yas{
  position: relative;
  bottom:90px;
  left:96px;
  cursor: pointer;
  background-color: gainsboro;
  border:1px solid #e1d0d0;
  border-radius: 50%;
  height: 10px;
}